<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletAluno</servlet-name>
        <servlet-class>Servlets.ServletAluno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPessoa</servlet-name>
        <servlet-class>Servlets.ServletPessoa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEstado</servlet-name>
        <servlet-class>Servlets.ServletEstado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCidade</servlet-name>
        <servlet-class>Servlets.ServletCidade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTelefone</servlet-name>
        <servlet-class>Servlets.ServletTelefone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEndereco</servlet-name>
        <servlet-class>Servlets.ServletEndereco</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAluno</servlet-name>
        <url-pattern>/ServletAluno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPessoa</servlet-name>
        <url-pattern>/ServletPessoa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEstado</servlet-name>
        <url-pattern>/ServletEstado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCidade</servlet-name>
        <url-pattern>/ServletCidade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTelefone</servlet-name>
        <url-pattern>/ServletTelefone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEndereco</servlet-name>
        <url-pattern>/ServletEndereco</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
